<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">

  </head>

  <body>

    <div class="jumbotron">
      <div class="container">
        <h1>Eskimo</h1>
        <h5>
          A multipurpose discord bot with over 30 commands!
        </h5>
        <br>
        <img src="https://botsfordiscord.com/api/v1/bots/415099419592228864/embed">
      </div>
    </div>

    <br>
    
    <div class="container">
      <h1>
        Commands
      </h1>
      <div>
        <% for (let i in commands) { %>
        <br>
        <h3><%= i %></h3> 
        <br>
        <% commands[i].forEach((cmd) => {%> 
          <div class="card">
            <div class="card-body">
              <h5>
                <%= cmd.name %> 
                <% if (cmd.ownerOnly) { %> <span class="badge badge-danger">Owner only</span> <% } %>
                <% if (!cmd.guildOnly) { %> <span class="badge badge-success">Works in DMs too</span> <% } %> 
                <% if (cmd.guildOnly) { %> <span class="badge badge-warning">Guild Only</span> <% } %> 
                <% if (cmd.nsfw) { %> <span class="badge badge-danger">NSFW</span> <% } %> 
              </h5>
              <%= cmd.description %>
              <br>
              <small>
                Aliases: <%= (cmd.aliases.length ? cmd.aliases.join(', ') : "None") %>
              </small>
            </div>
          </div>
        <% }) %>
        <% } %>
        
      </div>
    </div>
  
    <br>
  
  </body>

</html>